workflow.asl.json
{"Comment":"A description of my state machine","StartAt":"Escolher Tipo Execucao","States":{"Escolher Tipo Execucao":{"Type":"Choice","Choices":[{"Variable":"$.tipo","StringEquals":"MNP","Next":"Pegar Proximos MNP"}],"Default":"Grupo Encerrado"},"Grupo Encerrado":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Pegar Proximos Clientes Grupo Encerrado","Catch":[{"ErrorEquals":[]}]},"Pegar Proximos Clientes Grupo Encerrado":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Atualizar conta map iterator"},"Pegar Proximos MNP":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Atualizar conta map iterator"},"Atualizar conta map iterator":{"Type":"Map","Iterator":{"StartAt":"Consultar Conta","States":{"Consultar Conta":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:646025261134:function:api-dev-login:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"CC Definir Proximo Step"},"CC Definir Proximo Step":{"Type":"Choice","Choices":[{"Variable":"$.contas","IsPresent":true,"Next":"Verificar Conta"},{"Not":{"Variable":"$.contas","IsPresent":true},"Next":"Consultar Id Cliente"}],"Default":"Ignorar"},"Consultar Id Cliente":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Open Contas"},"Open Contas":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Open Contas OK ?"},"Open Contas OK ?":{"Type":"Choice","Choices":[{"Variable":"$.openContasOk","BooleanEquals":true,"Next":"Wait"}],"Default":"Open Finance"},"Wait":{"Type":"Wait","Seconds":1,"Next":"Atualizar Conta"},"Atualizar Conta":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"End":true},"Open Finance":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Open Finance Ok?"},"Open Finance Ok?":{"Type":"Choice","Choices":[{"Variable":"$.openFinanceOk","BooleanEquals":true,"Next":"Atualizar Conta"}]},"Verificar Conta":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Next":"Verificar Conta OK"},"Verificar Conta OK":{"Type":"Choice","Choices":[{"Variable":"$.ehContaValida","BooleanEquals":true,"Next":"Ignorar"}],"Default":"Consultar Id Cliente"},"Ignorar":{"Type":"Pass","End":true}}},"Retry":[{"ErrorEquals":[],"BackoffRate":1,"IntervalSeconds":1,"MaxAttempts":2}],"ItemsPath":"$.proximos","Next":"Devo Continuar"},"Devo Continuar":{"Type":"Choice","Choices":[{"And":[{"Variable":"$.continuar","BooleanEquals":true},{"Variable":"$.tipo","StringEquals":"MNP"}],"Next":"Pegar Proximos MNP"},{"And":[{"Variable":"$.continuar","BooleanEquals":true},{"Variable":"$.tipo","StringEquals":"GRUPO"}],"Next":"Pegar Proximos Clientes Grupo Encerrado"}],"Default":"Pass"},"Pass":{"Type":"Pass","End":true}}}